@media screen and (max-width:767px) {

    #inner{
        width: 100%;
    }

    header{
        height: 60px;
        -border: 1px solid red;
    }

    .menu{
        width: 100%;
        -border: 1px solid red;
        text-align: center;
    }

    .menu li{
        margin: 0;
        -border: 1px solid red;
    }

    #fullpage{
        margin: 0 auto;
    }

    #fullpage>section>.cont{
        width: 687px;
    }

    
    }